/* Modifications : la couleur de fond de page - la police - l'unité utilisée pour la taille de la police  */
body { 
    background-color :#fff;
    font-family : serif;
    font-size : 16pt;
}

/* Modifications : agrandissement du contenu principal */
main {
    width: 100vw;
}

/* éléments dispensables pour l'impression */
.nav, .breadcrumb, .card-gallery {
    display: none;
}

/* images à retirer */
.hero {
    background-image: none;
}