*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 1rem;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-background);
  color: var(--color-light);
}

:root {
  --color-primary: #E5BA63;
  --color-primary-text: #420F10;
  /* --color-primary-hover: #218fc7; */
  --color-background: #75251A;
  --color-dark: #000000;
  /* --color-dark-hover: #1b222a; */
  --color-light: #ffffff;
  /* --color-light-hover: #ffffff; */
  /* --color-danger: #dc2626; */
  /* --color-danger-hover: #991b1b; */
  --color-card-header: #420F10;

  --title: 'Megrim', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

p,
span {
  font-weight: 500;
}

/* text */
.text {
    font-size: 1rem;
}

.text--semi-bold {
    font-weight: 600;
}

/* button */
.btn {
    padding: 0.75rem 1rem;
}

.btn--primary {
    color: var(--color-primary-text);
    background-color: var(--color-primary);
    text-transform: uppercase;
}

.btn--secondary {
    background-color: #86463D;
}

/* ----------------------------- *
 *            NAVBAR             *
 * ----------------------------- */

.nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.list {
    list-style: none;
    display: flex;
}

