*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-primary-background);
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1.5px;
}

:root {
  --color-primary: #E5BA63;
  --color-primary-text: #420F10;
  /* --color-primary-hover: #218fc7; */
  --color-primary-background: #75251A;
  --color-secondary-background: #FAEFE4;
  --color-tertiary-background: #420F10;
  --color-dark: #000000;
  /* --color-dark-hover: #1b222a; */
  --color-light: #ffffff;
  /* --color-light-hover: #ffffff; */
  --color-error: #DE330D;
  /* --color-danger-hover: #991b1b; */

  --title: 'Megrim', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p,
span {
  font-weight: 400;
}

h1 {
    font-size: 4.5rem;
}

/* text */
.text {
    font-size: 1rem;
}

.text--semi-bold {
    font-weight: 600;
}

.text--bold {
    font-weight: 700;
}

.text--italic {
    font-style: italic;
}

.text--center {
    text-align: center;
}

.text--highlight {
    font-weight: 800;
    color: var(--color-primary-text);
}

/* link */
a {
    color: var(--color-dark);
}

.link-back {
    font-size: 2rem;
    position: absolute;
    left: 10vh;
}

/* button */
.btn {
    padding: 0.75rem 1rem;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    text-decoration: none;
}

.btn--primary {
    color: var(--color-primary-text);
    background-color: var(--color-primary);
    text-transform: uppercase;
    display: flex;
    gap: 0.5rem;
}

.btn--secondary {
    background-color: var(--color-tertiary-background);
    color: var(--color-secondary-background);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border: 1px solid var(--color-tertiary-background);
}

.btn--tertiary {
    background-color: #86463D;
}

/* list */
.list--none {
    list-style: none;
    padding: 0;
}

/* flex */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.flex--column {
    flex-direction: column;
}

.flex--reverse {
    flex-direction: row-reverse;
}

.flex--start {
    align-items: start;
}

/* position */
.pos-relative {
    position: relative;
}

/* ----------------------------- *
 *             MAIN              *
 * ----------------------------- */

main {
    width: 85vw;
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    padding: 12vh 0;
}

/* ----------------------------- *
 *            NAVBAR             *
 * ----------------------------- */

.nav {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 12vh;
    border-bottom: var(--color-light) solid 1px;
    padding: 20px 16px;
    position: fixed;
    z-index: 100;
    background-color: var(--color-primary-background);
}

.nav__logo {
    display: flex;
    gap: 1rem;
}

.nav__logo-link {
    text-decoration: none;
}

.nav__logo-name {
    font-family: var(--title);
    -webkit-text-stroke: 0.6px var(--color-light);
    width: 50%;
}

.nav__group {
    display: flex;
    gap: 4rem;
}

.nav__menu {
    list-style: none;
    display: flex;
    gap: 3.75rem; 
}

.nav__buttons {
    display: flex;
    align-items: center;
    gap: 2vw;
}

/* ----------------------------- *
 *              CARD             *
 * ----------------------------- */

.card {
    display: flex;
    flex-direction: column;
}

.card__header {
    background-color: var(--color-tertiary-background);
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.card__header--sm {
    padding: 1.25rem 2.5rem;
}

.card__title {
    font-family: var(--title);
    font-size: 2rem;
    -webkit-text-stroke: 1px var(--color-light);
}

.card__main {
    display: flex;
    background-color: #86463D;
}

.card__media {
    width: 60%;
    /* à changer !! */
    height: 467px;
}

.card__info {
    width: 40%;
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    background-color: var(--color-secondary-background);
}

.card__text {
    color: var(--color-dark);
}

.card-gallery {
    display: flex;
}

.card-gallery__group--column {
    display: flex;
    flex-direction: column;
}

.card-gallery__group--row {
    display: flex;
    flex-direction: row;
}

/* ----------------------------- *
 *         BOOKING CARD          *
 * ----------------------------- */

.booking-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.booking-card__title {
    font-weight: 700;
    font-size: 1rem;
}

/* ----------------------------- *
 *          REVIEW CARD          *
 * ----------------------------- */

.review-card {
    background-color: var(--color-light);
    padding: 1.5rem;
    border: 3px solid var(--color-primary-text);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}

/* ----------------------------- *
 *              HERO             *
 * ----------------------------- */

.hero {
    background-image: url(src/img/img-hero.jpg);
    background-size: cover;
    /* taille à changer !! */
    height: 90vh;
    justify-content: space-between;
}

.hero__title {
    font-family: var(--title);
}

.hero__content {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    padding: 4rem 3rem;
    justify-content: space-between;
}

.hero__info {
    max-width: 35vw;
}

/* ----------------------------- *
 *           CONTAINER           *
 * ----------------------------- */

.container {
    background-color: var(--color-secondary-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    color: var(--color-dark);
    letter-spacing: normal;
    min-height: 100vh;
    position: relative;
}

.container--medium {
    padding: 3rem 12rem;
}

.container--small {
    padding: 3rem 20rem;
}

.container__title {
    color: var(--color-primary-text);
}

.container__subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--color-primary-text);
}

.container__link {
    color: var(--color-primary-text);
}

/* ----------------------------- *
 *           SECTION             *
 * ----------------------------- */

.section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.section__title {
    font-size: 2rem;
    font-weight: 700;
}

/* ----------------------------- *
 *              FORM             *
 * ----------------------------- */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: 25vw;
}

.form__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__container-date, .form__container-ticket {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.75rem;
    border: 3px solid var(--color-tertiary-background);
    font-family: 'Montserrat', sans-serif;
}

.form__input:focus {
    border: 4px solid var(--color-tertiary-background);
}

.form__input--error {
    border-color: var(--color-error);
}

.form__link {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-primary-text);
}

.input__icon {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* ----------------------------- *
 *             FOOTER            *
 * ----------------------------- */

.footer {
    background-color: var(--color-tertiary-background);
    padding: 2.5rem 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.footer__link-section {
    display: flex;
    justify-content: space-between;
}

.footer__link-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__link-list-title {
    font-size: 1.25rem;
    color: var(--color-primary);
}

.footer__link-list-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__link-list-link {
    text-decoration: none;
    color: var(--color-light);
}

.footer__link-list-section {
    display: flex;
    gap: 2rem;
}

.footer__link-list-col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__link-list-header {
    font-weight: 700;
    font-size: 1.2rem;
}

.footer__social-media {
    display: flex;
    gap: 0.5rem;
}

.footer__social-media-img {
    border-radius: 100%;
}

.footer__utility {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: solid 1px var(--color-light);
}

.footer__utility-copy {
    font-weight: 500;
}

.footer__utility-link {
    text-decoration: none;
    color: var(--color-light);
}

