<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réservation - Mille Cultures, Une Origine</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="../script.js" defer></script>
</head>
<body>
    <nav class="nav">
        <div class="logo">
            <img src="../src/img/logo.png" alt="" class="logo__img">
            <p class="logo__text">Mille cultures, une origine</p>
        </div>
        <div class="flex">
            <ul class="list">
                <li class="text text--semi-bold">L'exposition</li>
                <li class="text text--semi-bold">Visiter</li>
                <li class="text text--semi-bold">Notre histoire</li>
            </ul>
            <div class="flex">
                <div class="btn btn--tertiary">Se connecter</div>
                <div class="btn btn--primary">
                    <p class="text--bold">Réserver</p>
                    <img src="../src/img/arrow-right.svg" alt="" class="btn__icon">
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="container container--small container--center">
            <a href=""><i class="fa-solid fa-arrow-left link-back"></i></a>
            <div>
                <h1 class="container__title">Billetterie</h1>
                <p class="container__subtitle">Choix de réservation (1/4)</p>
            </div>
            <p class="container__text text--center">Veuillez choisir une date de visite pour l'exposition.
                L'exposition commence le <span class="text--bold">26 mars</span> et se termine le <span class="text--bold">26 juillet</span>. Le bâtiment où se trouve l'exposition n'est ouvert au public que du <span class="text--bold">lundi au vendredi</span> de <span class="text--bold">8h00 à 18h00</span>.</p>
            <form action="" class="form" method="post">
                <div class="form__container">
                    <div class="form__container-date">
                        <div class="form__field">
                            <label for="date" class="form__label">Date</label>
                            <input type="date" name='date' value="2023-03-20" class="form__input" required>
                        </div>
                        <div class="form__field">
                            <label for="time" class="form__label">Heure</label>

                            <input list="times" type="time" name="time" min="08:00" max="17:00" value="10:00" step="3600" class="form__input" required>

                            <datalist id="times">
                                <option value="08:00:00">
                                <option value="09:00:00">
                                <option value="10:00:00">
                                <option value="11:00:00">
                                <option value="12:00:00">
                                <option value="13:00:00">
                                <option value="14:00:00">
                                <option value="15:00:00">
                                <option value="16:00:00">
                                <option value="17:00:00">
                            </datalist>


                        </div>
                    </div>
                    <div class="form__container-ticket">
                        <h2 class="form__container-ticket-title">Places</h2>
                        <div class="form__field">
                            <label for="price1" class="form__label">Plein tarif (5€)</label>
                            <input type="number" name='price1' class="form__input" min="0" max="10" value="0" required>
                        </div>
                        <div class="form__field">
                            <label for="price2" class="form__label">Moins de 26 ans (2€)</label>
                            <input type="number" name='price2' class="form__input" min="0" max="10" value="0" required>
                        </div>
                        <div class="form__field">
                            <label for="price3" class="form__label">Enfant de - 10ans (gratuit)</label>
                            <input type="number" name='price3' class="form__input" min="0" max="10" value="0" required>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn--secondary" value="Confirmer">
            </form>
            <a href="" class="btn btn--secondary">Confirmer</a>    
        </div>
    </main>
</body>
</html> 