<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Mille Cultures, Une Origine</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <nav class="nav">
        <div class="logo">
            <img src="../src/img/logo.png" alt="" class="logo__img">
            <p class="logo__text">Mille cultures, une origine</p>
        </div>
        <div class="flex">
            <ul class="list">
                <li class="text text--semi-bold">L'exposition</li>
                <li class="text text--semi-bold">Visiter</li>
                <li class="text text--semi-bold">Notre histoire</li>
            </ul>
            <div class="flex">
                <div class="btn btn--tertiary">Se connecter</div>
                <div class="btn btn--primary">
                    <p class="text--bold">Réserver</p>
                    <img src="../src/img/arrow-right.svg" alt="" class="btn__icon">
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="card hero">
            <div class="card__header card__header--sm">
                <p class="text--semi-bold">Du 31 mars au 25 juin 2023</p>
                <p class="text--semi-bold">Réservation en ligne obligatoire</p>
            </div>
            <div class="flex hero__content">
                <div class="hero__info">
                    <h1 class="hero__title">Les Pueblos</h1>
                    <p class="caption">Découvrez l'histoire fascinante et la culture vibrante des Pueblos à travers notre exposition interactive.</p>
                </div>
                <div class="btn btn--primary">
                    <p class="text--bold">Acheter mon billet</p>
                    <img src="../src/img/arrow-right.svg" alt="" class="btn__icon">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__header">
                <h2 class="card__title">L'expostion</h2>
            </div>
            <div class="card__main">
                <div class="card__media">
                    <video src="">

                    </video>
                </div>
                <div class="card__info">
                    <div class="card__text">
                        <p>Épisode de la série <span class="text--italic">« Mille Cultures, une Origine »</span>, l'exposition “Les Pueblos” a pour objectif de <span class="text--highlight">démystifier les origines amérindiennes</span>.</p>
                        <p>Contenus audiovisuels, dispositif interactif, poteries et autres objets sacrés seront l'occasion de vous plonger dans une <span class="text--highlight">ambiance immersive</span>, afin de découvrir l'univers des peuples Pueblos.</p>
                    </div>
                    <div class="btn btn--primary">
                        <p class="text--bold">En savoir plus</p>
                        <img src="../src/img/arrow-right.svg" alt="" class="btn__icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__media flex flex--column">
                <img src="../src/img/group-pueblos.jpg" alt="">
                <img src="../src/img/landscape.jpg" alt="">
            </div>
            <div class="flex">
                <img src="../src/img/drawing.jpg" alt="">
                <img src="../src/img/pueblos.jpg" alt="">
            </div>
        </div>
        <div class="card">
            <div class="card__header">
                <h2 class="card__title">Nous trouver</h2>
            </div>
            <div class="card__main flex--reverse">
                <div class="card__media">
                    <video src="">

                    </video>
                </div>
                <div class="card__info">
                    <div class="card__text">
                        <div class="flex flex--column">
                            <h3>IUT de Marne-la-Vallée - Université Gustave Eiffel</h3>
                            <p>2, rue Albert Einstein
                                77420 Champs-sur-Marne</p>
                        </div>
                        <div class="flex flex--column">
                            <h3>Horaires d’ouverture</h3>
                            <p>de 8h à 18h du lundi au vendredi</p>
                        </div>
                    </div>
                    <div class="btn btn--primary">
                        <p class="text--bold">Préparer ma visite</p>
                        <img src="../src/img/arrow-right.svg" alt="" class="btn__icon">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="flex">
            <div class="flex flex--column">
                <h1 class="footer__title">Infos pratiques</h1>
                <div class="flex flex--column">
                    <a href="">Préparez votre visite</a>
                    <a href="">Règlement intérieur</a>
                    <a href="">FAQ</a>
                </div>
            </div>
            <div class="flex flex--column">
                <h1 class="footer__title">Contact</h1>
                <div class="flex flex--column">
                    <a href="">Téléphone : +33 (0)1 60 95 85 90</a>
                    <a href="">Email : mmi-dir.iut@univ-eiffel.fr</a>
                    <a href="">Adresse : 2, rue Albert Einstein
                        77420 Champs-sur-Marne</a>
                </div>  
            </div>
            <div class="flex flex--column">
                <h1 class="footer__title">Réseaux sociaux</h1>
                <div class="">
                    <h2>L'exposition</h2>
                    <div class="footer__social-media">
                        <img src="" alt="">
                        <p>@milleculturesuneorigine</p>
                    </div>
                    <div class="footer__social-media">
                        <img src="" alt="">
                        <p>@milleculturesuneorigine</p>
                    </div>
                    <div class="footer__social-media">
                        <img src="" alt="">
                        <p>@milleculturesuneorigine</p>
                    </div>
                    <h2>Le lieu</h2>
                    <div class="footer__social-media">
                        <img src="" alt="">
                        <p>@mmi_champs</p>
                    </div>
                    <div class="footer__social-media">
                        <img src="" alt="">
                        <p>@iutmarnelavallee</p>
                    </div>
                    <div class="footer__social-media">
                        <img src="" alt="">
                        <p>IUT de Marne-la-Vallée</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex">
            <p>© 2023 - Glimpse</p>
            <a href="">Mentions légales</a>
            <a href="">Agence Glimpse</a>
            <a href="">Plan du site</a>
        </div>
    </footer>
</body>
</html> 