<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Mille Cultures, Une Origine</title>
</head>
<body>
    <nav class="nav">
        <div class="logo">
            <img src="" alt="" class="logo__img">
            <p class="logo__text">Mile cultures, une origine</p>
        </div>
        <ul class="list">
            <li class="list__text">L'exposition</li>
            <li class="list__text">Visiter</li>
            <li class="list__text">Notre histoire</li>
        </ul>
        <div class="btn">
            <div class="btn--secondary">Se connecter</div>
            <div class="btn--primary">Réserver</div>
        </div>
    </nav>
</body>
</html>