<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - Mille Cultures, Une Origine</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <nav class="nav">
        <div class="logo">
            <img src="../src/img/logo.png" alt="" class="logo__img">
            <p class="logo__text">Mille cultures, une origine</p>
        </div>
        <div class="flex">
            <ul class="list">
                <li class="text text--semi-bold">L'exposition</li>
                <li class="text text--semi-bold">Visiter</li>
                <li class="text text--semi-bold">Notre histoire</li>
            </ul>
            <div class="flex">
                <div class="btn btn--tertiary">Se connecter</div>
                <div class="btn btn--primary">
                    <p class="text--bold">Réserver</p>
                    <img src="../src/img/arrow-right.svg" alt="" class="btn__icon">
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <h1 class="container__title">Se connecter</h1>
            <p class="container__text">*Champs obligatoires</p>
            <form action="" class="form">
                <div class="form__container">
                    <div class="form__field">
                        <label for="" class="form__label">Login / Email*</label>
                        <input type="text" class="form__input" required>
                    </div>
                    <div class="form__field">
                        <label for="" class="form__label">Mot de passe*</label>
                        <input type="text" class="form__input">
                        <a href="" class="form__link">Mot de passe oublié ?</a>
                    </div>
                </div>
                <input type="submit" class="btn btn--secondary" value="Se connecter">
            </form>
            <p class="container__text text--semi-bold">Vous n'avez pas de compte ? <a href="" class="container__link">Inscrivez-vous !</a></p>
        </div>
    </main>
</body>
</html> 